<div class="row my-3 bg-white" style="margin-left: 0px; margin-right: 0px;">
  <h2>Cập nhập số lượng kho</h2>
<form action="" method="POST" [formGroup]="warehouse_fromEdit" (ngSubmit)="onEdit()" class="mb-5">
  <!-- <div class="form-group">
    <label for="">Sản phẩm của nhà cung cấp</label>
    <input type="text" formControlName="product_supplier_id" class="form-control" placeholder="Sản phẩm của nhà cung cấp">
  </div> -->
  <div class="form-group">
    <label for="">Tên sản phẩm</label>
    <select formControlName="product_id" style="background-color: #C0C0C0;" >
      <option  disabled *ngFor="let pro of name_product" [ngValue]="pro.id">{{pro.name}}</option>
    </select>
    <!-- <input  [(ngModel)]="name_product.name" type="text" formControlName="product_id" class="form-control" placeholder="Tên sản phẩm" readonly> -->
  </div>
  <div class="form-group">
    <label for="">Số lượng</label>

    <input type="text" formControlName="amount" class="form-control" placeholder="Số lượng">
  </div>
  <br>
  <div style="text-align: center;">
    
    <button type="button" [routerLink]="['/admin/warehouse']" class="btn btn-secondary" >
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
      </svg>
      quay lại</button>
      <button type="submit" class="btn btn-primary" style="margin-left: 5px;" >Lưu</button>
      
    </div>
</form>
</div>
