<div class="row my-3 bg-white" style="margin-left: 0px; margin-right: 0px;">

<h3 class="fs-4 mb-3">Quản lý loại bài viết</h3>
<div class="col ">

  <div class="row">
    <div class="col-5">
      <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off"
        placeholder=" Tìm kiếm loại bài viết">
        </div>
      <div class="col-7">
        <button type="button" class="btn btn-success mt-2 " style="float: right;" data-bs-toggle="modal"
          data-bs-target="#add">
          Thêm mới
        </button>
      </div>
    </div>

<table class="table table-striped rounded shadow-sm  bg-white ">
  <!-- <table class="table   table-hover"> -->
    <thead>
      <tr>
        <td scope="col" width="50" >#</td>
        <td>Loại bài viết</td>
        <td >Chức năng</td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let type of type_post|filter:searchText| paginate:{ itemsPerPage : tableSize, currentPage: page, totalItems: count};let i = index">
      <td>{{i+1}}</td>
      <td>{{type.name}}</td>
      <!-- <td>{{type.content}}</td> -->
      <td>
        
        <a class="btn btn-secondary" style="margin-right: 10px ;" [routerLink]="['/admin/type-posts-edit/',type.id]">Sửa</a>
        <button type="button" class="btn btn-danger"(click)="onDelete(type.id)">Xóa</button>
        
      </td>
    </tr>
  </tbody>
</table>
<div>
  <pagination-controls previousLabel="" nextLabel="" (pageChange)="ontableDataChange($event)">
  </pagination-controls>
</div>

<!-- Modal thêm mới -->
<div class="modal fade" id="add" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <form action="" method="POST" [formGroup]="type_post_fromCreate" (ngSubmit)="onCreate()">
        <div class="modal-header bg-success text-white">
          <h5 class="modal-title" id="exampleModalLabel">Thêm mới</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          
          <div class="form-group">
            <label for="">Loại bài viết</label>
            <input type="text" formControlName="name" class="form-control" placeholder="Loại bài viết">
            <div *ngIf="submitted && f.name.errors">
              <span style="color: #993300; font-size: 14px;" *ngIf="f.name.errors.required">--Tên loại bài viết không
                được để trống--</span>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
          <button type="submit" class="btn btn-success" data-bs-dismiss="modal">Lưu</button>
        </div>
      </form>
    </div>
  </div>
</div>


</div> 
</div>