<div class="row my-3 bg-white" style="margin-left: 0px; margin-right: 0px;">

<h3 class="fs-4 mb-3">Test api</h3>
<div class="col ">

  <button type="button" class="btn btn-primary mb-3 " style="float: right;" data-bs-toggle="modal" data-bs-target="#add">
    Thêm mới
</button>

<table class="table table-striped rounded shadow-sm  bg-white ">
  <!-- <table class="table   table-hover"> -->
    <thead>
      <tr>
        <td scope="col" width="50" >#</td>
        <!-- <td>id</td> -->
        <td>Tên</td>
        <td>giới tính</td>
        <td>Tuổi</td>
      <td>số điện thoại</td>
      <td >Chức năng</td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let testapi of testapis;let i = index">
      <td>{{i+1}}</td>
      <!-- <td>{{testapi.id}}</td> -->
      <td>{{testapi.name}}</td>
      <td>{{testapi.sex}}</td>
      <td>{{testapi.age}}</td>
      <td>{{testapi.phone}}</td>
      <td>
        
        <a class="btn btn-secondary" style="margin-right: 10px ;" [routerLink]="['/admin/testapi-edit/',testapi.id]">Sửa</a>
        <button type="button" class="btn btn-danger"(click)="onDelete(testapi.id)">Xóa</button>
        
      </td>
    </tr>
  </tbody>
</table>

<!-- Modal thêm mới -->
<div class="modal fade" id="add" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <form action="" method="POST" [formGroup]="testapifromCreate" (ngSubmit)="onCreate()">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Thêm mới</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          
          <div class="form-group">
            <label for="">tên</label>
            <input type="text" formControlName="name" class="form-control" placeholder="ten">
          </div>
          <div class="form-group">
            <label for="">Tuổi</label>
            <input type="text" formControlName="age" class="form-control" placeholder="tuoi">
          </div>
          <div class="form-group">
            <label for="">giới tính</label>
            <input type="text" formControlName="sex" class="form-control" placeholder="gioi tinh">
          </div>
          <div class="form-group">
            <label for="">số điện thoại</label>
            <input type="text" formControlName="phone" class="form-control" placeholder="so dien thoai">
          </div>
          <!-- <button type="submit">gửi</button> -->
          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
          <button type="submit" class="btn btn-success" data-bs-dismiss="modal">Lưu</button>
        </div>
      </form>
    </div>
  </div>
</div>


</div> 
</div>