<div class="row my-3 bg-white" style="margin-left: 0px; margin-right: 0px;">
  <h3 class="bg-success text-white">Sửa danh mục</h3>
  <hr>
  <form action="" method="POST" [formGroup]="category_product_fromEdit" (ngSubmit)="onEdit()" class="mb-5">
  <div class="form-group">
    <label for="">Tên danh mục<span style="color: red;">*</span></label>
    <input type="text" formControlName="name" class="form-control" placeholder="Tên" >
    <div *ngIf="submitted && f.name.errors">
      <span style="color: #993300; font-size: 14px;" *ngIf="f.name.errors.required" >--Tên danh mục chưa được nhập! --</span>
    </div>
  </div>
  <div class="form-group">
    <label for="">Nhà cung cấp</label>
    <!-- <input type="text" formControlName="product_supplier_id" class="form-control" placeholder="Nhà cung cấp" > -->
    <select formControlName="product_supplier_id" >
      <option [ngValue]="null" disabled>--Chọn nhà cung cấp--</option>
      <option *ngFor="let sup of supplier" [ngValue]="sup.id">{{sup.name}}</option>
    </select>
    <!-- <div *ngIf="submitted && f.product_supplier_id.errors">
      <span style="color: #993300; font-size: 14px;"*ngIf="f.product_supplier_id.errors.required" >--Nhà cung cấp chưa được chọn--</span>
    </div> -->
  </div>
  <br>
  <!-- <button type="submit" >gửi</button> -->
  <div style="text-align: center;">
    
    <button type="button" [routerLink]="['/admin/category-product']" class="btn btn-secondary" >
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
      </svg>
      quay lại</button>
      <button type="submit" class="btn btn-primary" style="margin-left: 5px;" >Lưu thay đổi</button>
      
    </div>
</form>
</div>