<!-- <section class="hero">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="hero__categories">
                    <div class="hero__categories__all">
                        <i class="fa fa-bars"></i>
                        <span>All departments</span>
                    </div>
                    <ul>
                        <li *ngFor="let item of category"><a href="#">{{ item.name }}</a></li>

                    </ul>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="hero__search">
                    <div class="hero__search__form">
                        <form action="#">
                            <div class="hero__search__categories">
                                All Categories
                                <span class="arrow_carrot-down"></span>
                            </div>
                            <input type="text" placeholder="What do yo u need?">
                            <button type="submit" class="site-btn">SEARCH</button>
                        </form>
                    </div>
                    <div class="hero__search__phone">
                        <div class="hero__search__phone__icon">
                            <i class="fa fa-phone"></i>
                        </div>
                        <div class="hero__search__phone__text">
                            <h5>+65 11.188.888</h5>
                            <span>support 24/7 time</span>
                        </div>
                    </div>
                </div>
                <div class="hero__item set-bg">
                    <img style="position: relative;" src="./assets/image/hero/banner.jpg">
                    <div class="hero__text" style="position: absolute;margin-left:70px">
                        <span>FRUIT FRESH</span>
                        <h2>Vegetable <br />100% Organic</h2>
                        <p>Free Pickup and Delivery Available</p>
                        <a href="#" class="primary-btn">SHOP NOW</a>
                    </div>
                </div>
            </div>

        </div>
    </div>

</section>



<section class="categories">
    <div class="container">
        <div class="row">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">

                        <h2>Sản phẩm mới</h2>
                    </div>

                </div>
            </div>
            <owl-carousel-o [options]="customOptions">
                <ng-container *ngFor="let slide of categories_section_begin">
                    <ng-template carouselSlide [id]="slide.id">
                        <div class="categories__item">

                            <img [src]="slide.img_src">
                            <h5><a [routerLink]="['/san-pham/',slide.id]">{{ slide.name }}</a></h5>
                        </div>
                    </ng-template>
                </ng-container>
            </owl-carousel-o>
        </div>
    </div>
</section>



<section class="featured spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">

                    <h2>Toàn bộ sản phẩm</h2>
                </div>

            </div>
        </div>
        <div class="row featured__filter">
            <div class="col-lg-3 col-md-4 col-sm-6"
                *ngFor="let item of all_product| paginate:{ itemsPerPage : tableSize, currentPage: page, totalItems: count};let i = index">
                <div class="featured__item">
                    <div class="featured__item__pic set-bg">
                        <img [src]="item.img_src" alt="">
                        <ul class="featured__item__pic__hover">
                            <li><a href="#"><i class="fa fa-heart"></i></a></li>
                            <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                            <li><a  (click)="addToCart(item)"><i class="fa fa-shopping-cart"></i></a></li>
                        </ul>
                    </div>
                    <div class="product__item__text">
                        <h6><a [routerLink]="['/san-pham/',item.id]">{{ item.name }}</a></h6>
                        <h5 style="color: red;">{{ item.price |currency:'VND' }} Vnđ</h5>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-12" style="text-align: center;">
            <div>
                <pagination-controls previousLabel="" nextLabel="" (pageChange)="ontableDataChange($event)">
                </pagination-controls>
            </div>
        </div>

    </div>
</section>
<section class="from-blog spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title from-blog__title">
                    <h2>Các bài viết</h2>
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-lg-4 col-md-4 col-sm-6" *ngFor="let item of posts" >
                <div class="blog__item">
                    <div class="blog__item__pic">
                        <img src="{{ item.img_src }}"width="350" height="300">
                    </div>
                    <div class="blog__item__text">
                        <ul>
                            <li><i class="fa fa-calendar-o"></i>{{ item.created_at|date:'dd/MM/yyyy' }}</li>
                        </ul>
                        <h5><a href="#">{{ item.title }}</a></h5>
                        <a   href="/chi-tiet-bai-viet/{{ item.id }}" class="blog__btn">Đọc thêm <span class="arrow_right"></span></a>
                    </div>
                </div>
            </div>
           
        </div>
    </div>
</section> -->




<!-- Hero Section Begin -->
<section class="hero">
    <div class="hero__slider owl-carousel">
        <div class="hero__items set-bg" data-setbg="./assets/img/congnghe/back2.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-xl-5 col-lg-7 col-md-8">
                        <div class="hero__text">

                            <h6>Thế giới di động</h6>
                            <h2>Sale xuyên tết</h2>
                            <p>CẤU HÌNH KHỦNG VẬT VÃ
                                GAME THỦ CHƠI GAME ĐÃ </p>
                            <a href="" class="primary-btn"><span class="arrow_right"></span></a>
                            <div class="hero__social">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-pinterest"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="hero__items set-bg" data-setbg="./assets/img/congnghe/back7.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-xl-5 col-lg-7 col-md-8">
                        <div class="hero__text">
                            <h6>Trùm thiết bị chơi game</h6>
                            <h2>Ôm ngay chơi tết 2023</h2>
                            <p>KHẲNG ĐỊNH CHẤT CHƠI RIÊNG
                                TỰ DECOR THEO Ý THÍCH</p>
                            <a href="#" class="primary-btn">Xem ngay <span class="arrow_right"></span></a>
                            <div class="hero__social">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-pinterest"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Hero Section End -->


<!-- Banner Section Begin -->
<section class="banner spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 offset-lg-4">
                <div class="banner__item">
                    <div class="banner__item__pic">
                        <img src="./assets/img/congnghe/back15.png" alt="">
                    </div>
                    <div class="banner__item__text">
                        <h2>KHẲNG ĐỊNH CHẤT CHƠI RIÊNG
                            TỰ DECOR THEO Ý THÍCH</h2>
                        <a href="#">Xem ngay</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="banner__item banner__item--middle">
                    <div class="banner__item__pic">
                        <img src="./assets/img/congnghe/back9.jpg" alt="">
                    </div>
                    <div class="banner__item__text">
                        <h2>CẤU HÌNH KHỦNG VẬT VÃ
                            GAME THỦ CHƠI GAME ĐÃ</h2>
                        <a href="#">Xem ngay</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="banner__item banner__item--last">
                    <div class="banner__item__pic">
                        <img src="./assets/img/congnghe/back10.jpeg" alt="">
                    </div>
                    <div class="banner__item__text">
                        <h2>Sale xuyên tết</h2>
                        <a href="#">Xem ngay</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Banner Section End -->

<!-- Product Section Begin -->
<section class="product spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ul class="filter__controls">
                    <li class="active" data-filter="*">Sản phẩm đang bán chạy</li>
                    <!-- <li data-filter=".new-arrivals">New Arrivals</li>
                        <li data-filter=".hot-sales">Hot Sales</li> -->
                </ul>
            </div>
        </div>
        <div class="row product__filter">
            <!-- <div class="col-lg-3 col-md-6 col-sm-6 col-md-6 col-sm-6 mix new-arrivals">
                    <div class="product__item"> -->
            <owl-carousel-o [options]="customOptions">
                <ng-container *ngFor="let slide of categories_section_begin">
                    <ng-template carouselSlide [id]="slide.id">
                        <div class="product__item__pic_img set-bg" >
                            <img [src]="slide.img_src">

                            <!-- <span class="label">New</span> -->
                            <!-- <ul class="product__hover">
                                <li><a href="#"><img src="./assets/img/icon/heart.png" alt=""></a></li>
                                <li><a href="#"><img src="./assets/img/icon/compare.png" alt="">
                                        <span>Compare</span></a></li>
                                <li><a href="#"><img src="./assets/img/icon/search.png" alt=""></a></li>
                            </ul> -->
                        </div>
                        <div class="product__item__text">
                            <h6>{{ slide.name }}</h6>
                            <a href="#" class="add-cart">+ Add To Cart</a>
                            <div class="rating">
                                <i class="fa fa-star-o"></i>&nbsp;
                                <i class="fa fa-star-o"></i>&nbsp;
                                <i class="fa fa-star-o"></i>&nbsp;
                                <i class="fa fa-star-o"></i>&nbsp;
                                <i class="fa fa-star-o"></i>&nbsp;
                            </div>
                            <h5 style="color: red;">{{ slide.price |currency:'VND'}}</h5>
                            <div class="product__color__select">
                                <label for="pc-1">
                                    <input type="radio" id="pc-1">
                                </label>
                                <label class="active black" for="pc-2">
                                    <input type="radio" id="pc-2">
                                </label>
                                <label class="grey" for="pc-3">
                                    <input type="radio" id="pc-3">
                                </label>
                            </div>
                        </div>
                    </ng-template>
                </ng-container>
            </owl-carousel-o>
        </div>

        <!-- </div>
                
            </div> -->
    </div>
</section>
<!-- Product Section End -->

<!-- Categories Section Begin -->
<section class="categories spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="categories__text">
                    <h2>Gaming <br /> <span>Học tập</span> <br /> Văn phòng</h2>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="categories__hot__deal">
                    <img src="./assets/img/congnghe/back8.jpg" alt="">
                    <div class="hot__deal__sticker">
                        <span>Sale Of</span>
                        <h5 style="color: red;">{{ 9999000|currency:'VND' }}</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 offset-lg-1">
                <div class="categories__deal__countdown">
                    <span>KHẲNG ĐỊNH CHẤT CHƠI RIÊNG
                        TỰ DECOR THEO Ý THÍCH</span>
                    <h2>Trùm pc nguyên bộ</h2>
                    <div class="categories__deal__countdown__timer" id="countdown">
                        <div class="cd-item">
                            <span>3</span>
                            <p>Ngày</p>
                        </div>
                        <div class="cd-item">
                            <span>1</span>
                            <p>Giờ</p>
                        </div>
                        <div class="cd-item">
                            <span>50</span>
                            <p>Phút</p>
                        </div>
                        <div class="cd-item">
                            <span>18</span>
                            <p>Giây</p>
                        </div>
                    </div>
                    <a href="#" class="primary-btn">Xem ngay</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Categories Section End -->

<!-- Instagram Section Begin -->
<section class="instagram spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="instagram__pic">
                    <div class="instagram__pic__item set-bg" data-setbg="./assets/img/congnghe/back10.jpeg"></div>
                    <div class="instagram__pic__item set-bg" data-setbg="./assets/img/congnghe/back11.jpeg"></div>
                    <div class="instagram__pic__item set-bg" data-setbg="./assets/img/congnghe/back12.jpeg"></div>
                    <div class="instagram__pic__item set-bg" data-setbg="./assets/img/congnghe/back13.jpg"></div>
                    <div class="instagram__pic__item set-bg" data-setbg="./assets/img/congnghe/back16.jpg"></div>
                    <div class="instagram__pic__item set-bg" data-setbg="./assets/img/congnghe/back17.jpg"></div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="instagram__text">
                    <h2>Instagram</h2>
                    
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Instagram Section End -->

<!-- Latest Blog Section Begin -->
<section class="latest spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <span>TIN MỚI NHẤT</span>
                    <h2>Xu hướng công nghệ</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6" *ngFor="let item of posts">
                <div class="blog__item">
                    <div class="blog__item__pic set-bg">
                        <img src="{{item.img_src}}" alt="">
                    </div>
                    <div class="blog__item__text">
                        <span><img src="./assets/img/icon/calendar.png" alt=""> {{ item.created_at|date:'dd/MM/yyyy'
                            }}</span>
                        <h5>{{ item.title }}</h5>
                        <a href="/chi-tiet-bai-viet/{{ item.id }}">Đọc tiếp</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Latest Blog Section End -->