<div class="row my-3 bg-white" style="margin-left: 0px; margin-right: 0px;">
  <form action="" method="POST" [formGroup]="posts_fromEdit" (ngSubmit)="onEdit()" class="mb-5">
  <div class="form-group">
    <label for="">Loại bài viết</label>
    <select formControlName="type_post_id" >
      <option [ngValue]="null" disabled>--Chọn nhà loại bài viết--</option>
      <option *ngFor="let sup of type_post" [ngValue]="sup.id">{{sup.name}}</option>
    </select>
    <!-- <input type="text" formControlName="type_post_id" class="form-control" placeholder="Loại bài viết"> -->
  </div>
  <div class="form-group">
    <label for="">Tiêu đề</label>
    <input type="text" formControlName="title" class="form-control" placeholder="Tiêu đề">
  </div>
  <div class="form-group">
    <label for="">Người viết (đang hiệu chỉnh)</label>

    <input type="text" formControlName="staff_id" class="form-control" placeholder="Người viết" readonly>
  </div>
  
  <div class="form-group">
    <label for="">Nội dung</label>
    <ckeditor formControlName="content"></ckeditor>
  </div>
  <!-- <div class="form-group">
    <label for="">Ảnh tiêu đề bài viết </label>
    <img src="{{ url }}"   height="200" width="200" alt=""><br>
    <input type="file" formControlName="image" (change)="updateImage($event)">
    <div *ngIf="submitted && f.image.errors">
      <span style="color: #993300; font-size: 14px;" *ngIf="f.image.errors.required">-- Chưa chọn ảnh
        --</span>
    </div>
  </div> -->
  <br>
  <div style="text-align: center;">
    
    <button type="button" [routerLink]="['/admin/posts']" class="btn btn-secondary" >
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
      </svg>
      quay lại</button>
      <button type="submit" class="btn btn-primary" style="margin-left: 5px;" >Lưu</button>
      
    </div>
</form>
</div>