
         <div class="d-flex" id="wrapper" >
            <div class="b-page_newyear">
                <div class="b-page__content">
                    <i class="b-head-decor">
                        <i class="b-head-decor__inner b-head-decor__inner_n1">
                            <div class="b-ball b-ball_n1 b-ball_bounce">
                                <div class="b-ball__right"></div>
                                <div class="b-ball__i"></div>
                            </div>
                            <div class="b-ball b-ball_n2 b-ball_bounce">
                                <div class="b-ball__right"></div>
                                <div class="b-ball__i"></div>
                            </div>
                            <div class="b-ball b-ball_n3 b-ball_bounce">
                                <div class="b-ball__right"></div>
                                <div class="b-ball__i"></div>
                            </div>
                            <div class="b-ball b-ball_n4 b-ball_bounce">
                                <div class="b-ball__right"></div>
                                <div class="b-ball__i"></div>
                            </div>
                            <div class="b-ball b-ball_n5 b-ball_bounce">
                                <div class="b-ball__right"></div>
                                <div class="b-ball__i"></div>
                            </div>
                            <div class="b-ball b-ball_n6 b-ball_bounce">
                                <div class="b-ball__right"></div>
                                <div class="b-ball__i"></div>
                            </div>
                            <div class="b-ball b-ball_n7 b-ball_bounce">
                                <div class="b-ball__right"></div>
                                <div class="b-ball__i"></div>
                            </div>
                            <div class="b-ball b-ball_n8 b-ball_bounce">
                                <div class="b-ball__right"></div>
                                <div class="b-ball__i"></div>
                            </div>
                            <div class="b-ball b-ball_n9 b-ball_bounce">
                                <div class="b-ball__right"></div>
                                <div class="b-ball__i"></div>
                            </div>
                            <div class="b-ball b-ball_i1">
                                <div class="b-ball__right"></div>
                                <div class="b-ball__i"></div>
                            </div>
                            <div class="b-ball b-ball_i2">
                                <div class="b-ball__right"></div>
                                <div class="b-ball__i"></div>
                            </div>
                            <div class="b-ball b-ball_i3">
                                <div class="b-ball__right"></div>
                                <div class="b-ball__i"></div>
                            </div>
                            <div class="b-ball b-ball_i4">
                                <div class="b-ball__right"></div>
                                <div class="b-ball__i"></div>
                            </div>
                            <div class="b-ball b-ball_i5">
                                <div class="b-ball__right"></div>
                                <div class="b-ball__i"></div>
                            </div>
                            <div class="b-ball b-ball_i6">
                                <div class="b-ball__right"></div>
                                <div class="b-ball__i"></div>
                            </div>
                        </i>
                        <i class="b-head-decor__inner b-head-decor__inner_n2">
                            <div class="b-ball b-ball_n1 b-ball_bounce">
                                <div class="b-ball__right"></div>
                                <div class="b-ball__i"></div>
                            </div>
                            <div class="b-ball b-ball_n2 b-ball_bounce">
                                <div class="b-ball__right"></div>
                                <div class="b-ball__i"></div>
                            </div>
                            <div class="b-ball b-ball_n3 b-ball_bounce">
                                <div class="b-ball__right"></div>
                                <div class="b-ball__i"></div>
                            </div>
                            <div class="b-ball b-ball_n4 b-ball_bounce">
                                <div class="b-ball__right"></div>
                                <div class="b-ball__i"></div>
                            </div>
                            <div class="b-ball b-ball_n5 b-ball_bounce">
                                <div class="b-ball__right"></div>
                                <div class="b-ball__i"></div>
                            </div>
                            <div class="b-ball b-ball_n6 b-ball_bounce">
                                <div class="b-ball__right"></div>
                                <div class="b-ball__i"></div>
                            </div>
                            <div class="b-ball b-ball_n7 b-ball_bounce">
                                <div class="b-ball__right"></div>
                                <div class="b-ball__i"></div>
                            </div>
                            <div class="b-ball b-ball_n8 b-ball_bounce">
                                <div class="b-ball__right"></div>
                                <div class="b-ball__i"></div>
                            </div>
                            <div class="b-ball b-ball_n9 b-ball_bounce">
                                <div class="b-ball__right"></div>
                                <div class="b-ball__i"></div>
                            </div>
                            <div class="b-ball b-ball_i1">
                                <div class="b-ball__right"></div>
                                <div class="b-ball__i"></div>
                            </div>
                            <div class="b-ball b-ball_i2">
                                <div class="b-ball__right"></div>
                                <div class="b-ball__i"></div>
                            </div>
                            <div class="b-ball b-ball_i3">
                                <div class="b-ball__right"></div>
                                <div class="b-ball__i"></div>
                            </div>
                            <div class="b-ball b-ball_i4">
                                <div class="b-ball__right"></div>
                                <div class="b-ball__i"></div>
                            </div>
                            <div class="b-ball b-ball_i5">
                                <div class="b-ball__right"></div>
                                <div class="b-ball__i"></div>
                            </div>
                            <div class="b-ball b-ball_i6">
                                <div class="b-ball__right"></div>
                                <div class="b-ball__i"></div>
                            </div>
                        </i>
                        <i class="b-head-decor__inner b-head-decor__inner_n3">
                            <div class="b-ball b-ball_n1 b-ball_bounce">
                                <div class="b-ball__right"></div>
                                <div class="b-ball__i"></div>
                            </div>
                            <div class="b-ball b-ball_n2 b-ball_bounce">
                                <div class="b-ball__right"></div>
                                <div class="b-ball__i"></div>
                            </div>
                            <div class="b-ball b-ball_n3 b-ball_bounce">
                                <div class="b-ball__right"></div>
                                <div class="b-ball__i"></div>
                            </div>
                            <div class="b-ball b-ball_n4 b-ball_bounce">
                                <div class="b-ball__right"></div>
                                <div class="b-ball__i"></div>
                            </div>
                            <div class="b-ball b-ball_n5 b-ball_bounce">
                                <div class="b-ball__right"></div>
                                <div class="b-ball__i"></div>
                            </div>
                            <div class="b-ball b-ball_n6 b-ball_bounce">
                                <div class="b-ball__right"></div>
                                <div class="b-ball__i"></div>
                            </div>
                            <div class="b-ball b-ball_n7 b-ball_bounce">
                                <div class="b-ball__right"></div>
                                <div class="b-ball__i"></div>
                            </div>
                            <div class="b-ball b-ball_n8 b-ball_bounce">
                                <div class="b-ball__right"></div>
                                <div class="b-ball__i"></div>
                            </div>
                            <div class="b-ball b-ball_n9 b-ball_bounce">
                                <div class="b-ball__right"></div>
                                <div class="b-ball__i"></div>
                            </div>
                            <div class="b-ball b-ball_i1">
                                <div class="b-ball__right"></div>
                                <div class="b-ball__i"></div>
                            </div>
                            <div class="b-ball b-ball_i2">
                                <div class="b-ball__right"></div>
                                <div class="b-ball__i"></div>
                            </div>
                            <div class="b-ball b-ball_i3">
                                <div class="b-ball__right"></div>
                                <div class="b-ball__i"></div>
                            </div>
                            <div class="b-ball b-ball_i4">
                                <div class="b-ball__right"></div>
                                <div class="b-ball__i"></div>
                            </div>
                            <div class="b-ball b-ball_i5">
                                <div class="b-ball__right"></div>
                                <div class="b-ball__i"></div>
                            </div>
                            <div class="b-ball b-ball_i6">
                                <div class="b-ball__right"></div>
                                <div class="b-ball__i"></div>
                            </div>
                        </i>
                        <i class="b-head-decor__inner b-head-decor__inner_n4">
                            <div class="b-ball b-ball_n1 b-ball_bounce">
                                <div class="b-ball__right"></div>
                                <div class="b-ball__i"></div>
                            </div>
                            <div class="b-ball b-ball_n2 b-ball_bounce">
                                <div class="b-ball__right"></div>
                                <div class="b-ball__i"></div>
                            </div>
                            <div class="b-ball b-ball_n3 b-ball_bounce">
                                <div class="b-ball__right"></div>
                                <div class="b-ball__i"></div>
                            </div>
                            <div class="b-ball b-ball_n4 b-ball_bounce">
                                <div class="b-ball__right"></div>
                                <div class="b-ball__i"></div>
                            </div>
                            <div class="b-ball b-ball_n5 b-ball_bounce">
                                <div class="b-ball__right"></div>
                                <div class="b-ball__i"></div>
                            </div>
                            <div class="b-ball b-ball_n6 b-ball_bounce">
                                <div class="b-ball__right"></div>
                                <div class="b-ball__i"></div>
                            </div>
                            <div class="b-ball b-ball_n7 b-ball_bounce">
                                <div class="b-ball__right"></div>
                                <div class="b-ball__i"></div>
                            </div>
                            <div class="b-ball b-ball_n8 b-ball_bounce">
                                <div class="b-ball__right"></div>
                                <div class="b-ball__i"></div>
                            </div>
                            <div class="b-ball b-ball_n9 b-ball_bounce">
                                <div class="b-ball__right"></div>
                                <div class="b-ball__i"></div>
                            </div>
                            <div class="b-ball b-ball_i1">
                                <div class="b-ball__right"></div>
                                <div class="b-ball__i"></div>
                            </div>
                            <div class="b-ball b-ball_i2">
                                <div class="b-ball__right"></div>
                                <div class="b-ball__i"></div>
                            </div>
                            <div class="b-ball b-ball_i3">
                                <div class="b-ball__right"></div>
                                <div class="b-ball__i"></div>
                            </div>
                            <div class="b-ball b-ball_i4">
                                <div class="b-ball__right"></div>
                                <div class="b-ball__i"></div>
                            </div>
                            <div class="b-ball b-ball_i5">
                                <div class="b-ball__right"></div>
                                <div class="b-ball__i"></div>
                            </div>
                            <div class="b-ball b-ball_i6">
                                <div class="b-ball__right"></div>
                                <div class="b-ball__i"></div>
                            </div>
                        </i>
                        <i class="b-head-decor__inner b-head-decor__inner_n5">
                            <div class="b-ball b-ball_n1 b-ball_bounce">
                                <div class="b-ball__right"></div>
                                <div class="b-ball__i"></div>
                            </div>
                            <div class="b-ball b-ball_n2 b-ball_bounce">
                                <div class="b-ball__right"></div>
                                <div class="b-ball__i"></div>
                            </div>
                            <div class="b-ball b-ball_n3 b-ball_bounce">
                                <div class="b-ball__right"></div>
                                <div class="b-ball__i"></div>
                            </div>
                            <div class="b-ball b-ball_n4 b-ball_bounce">
                                <div class="b-ball__right"></div>
                                <div class="b-ball__i"></div>
                            </div>
                            <div class="b-ball b-ball_n5 b-ball_bounce">
                                <div class="b-ball__right"></div>
                                <div class="b-ball__i"></div>
                            </div>
                            <div class="b-ball b-ball_n6 b-ball_bounce">
                                <div class="b-ball__right"></div>
                                <div class="b-ball__i"></div>
                            </div>
                            <div class="b-ball b-ball_n7 b-ball_bounce">
                                <div class="b-ball__right"></div>
                                <div class="b-ball__i"></div>
                            </div>
                            <div class="b-ball b-ball_n8 b-ball_bounce">
                                <div class="b-ball__right"></div>
                                <div class="b-ball__i"></div>
                            </div>
                            <div class="b-ball b-ball_n9 b-ball_bounce">
                                <div class="b-ball__right"></div>
                                <div class="b-ball__i"></div>
                            </div>
                            <div class="b-ball b-ball_i1">
                                <div class="b-ball__right"></div>
                                <div class="b-ball__i"></div>
                            </div>
                            <div class="b-ball b-ball_i2">
                                <div class="b-ball__right"></div>
                                <div class="b-ball__i"></div>
                            </div>
                            <div class="b-ball b-ball_i3">
                                <div class="b-ball__right"></div>
                                <div class="b-ball__i"></div>
                            </div>
                            <div class="b-ball b-ball_i4">
                                <div class="b-ball__right"></div>
                                <div class="b-ball__i"></div>
                            </div>
                            <div class="b-ball b-ball_i5">
                                <div class="b-ball__right"></div>
                                <div class="b-ball__i"></div>
                            </div>
                            <div class="b-ball b-ball_i6">
                                <div class="b-ball__right"></div>
                                <div class="b-ball__i"></div>
                            </div>
                        </i>
                        <i class="b-head-decor__inner b-head-decor__inner_n6">
                            <div class="b-ball b-ball_n1 b-ball_bounce">
                                <div class="b-ball__right"></div>
                                <div class="b-ball__i"></div>
                            </div>
                            <div class="b-ball b-ball_n2 b-ball_bounce">
                                <div class="b-ball__right"></div>
                                <div class="b-ball__i"></div>
                            </div>
                            <div class="b-ball b-ball_n3 b-ball_bounce">
                                <div class="b-ball__right"></div>
                                <div class="b-ball__i"></div>
                            </div>
                            <div class="b-ball b-ball_n4 b-ball_bounce">
                                <div class="b-ball__right"></div>
                                <div class="b-ball__i"></div>
                            </div>
                            <div class="b-ball b-ball_n5 b-ball_bounce">
                                <div class="b-ball__right"></div>
                                <div class="b-ball__i"></div>
                            </div>
                            <div class="b-ball b-ball_n6 b-ball_bounce">
                                <div class="b-ball__right"></div>
                                <div class="b-ball__i"></div>
                            </div>
                            <div class="b-ball b-ball_n7 b-ball_bounce">
                                <div class="b-ball__right"></div>
                                <div class="b-ball__i"></div>
                            </div>
                            <div class="b-ball b-ball_n8 b-ball_bounce">
                                <div class="b-ball__right"></div>
                                <div class="b-ball__i"></div>
                            </div>
                            <div class="b-ball b-ball_n9 b-ball_bounce">
                                <div class="b-ball__right"></div>
                                <div class="b-ball__i"></div>
                            </div>
                            <div class="b-ball b-ball_i1">
                                <div class="b-ball__right"></div>
                                <div class="b-ball__i"></div>
                            </div>
                            <div class="b-ball b-ball_i2">
                                <div class="b-ball__right"></div>
                                <div class="b-ball__i"></div>
                            </div>
                            <div class="b-ball b-ball_i3">
                                <div class="b-ball__right"></div>
                                <div class="b-ball__i"></div>
                            </div>
                            <div class="b-ball b-ball_i4">
                                <div class="b-ball__right"></div>
                                <div class="b-ball__i"></div>
                            </div>
                            <div class="b-ball b-ball_i5">
                                <div class="b-ball__right"></div>
                                <div class="b-ball__i"></div>
                            </div>
                            <div class="b-ball b-ball_i6">
                                <div class="b-ball__right"></div>
                                <div class="b-ball__i"></div>
                            </div>
                        </i>
                        <i class="b-head-decor__inner b-head-decor__inner_n7">
                            <div class="b-ball b-ball_n1 b-ball_bounce">
                                <div class="b-ball__right"></div>
                                <div class="b-ball__i"></div>
                            </div>
                            <div class="b-ball b-ball_n2 b-ball_bounce">
                                <div class="b-ball__right"></div>
                                <div class="b-ball__i"></div>
                            </div>
                            <div class="b-ball b-ball_n3 b-ball_bounce">
                                <div class="b-ball__right"></div>
                                <div class="b-ball__i"></div>
                            </div>
                            <div class="b-ball b-ball_n4 b-ball_bounce">
                                <div class="b-ball__right"></div>
                                <div class="b-ball__i"></div>
                            </div>
                            <div class="b-ball b-ball_n5 b-ball_bounce">
                                <div class="b-ball__right"></div>
                                <div class="b-ball__i"></div>
                            </div>
                            <div class="b-ball b-ball_n6 b-ball_bounce">
                                <div class="b-ball__right"></div>
                                <div class="b-ball__i"></div>
                            </div>
                            <div class="b-ball b-ball_n7 b-ball_bounce">
                                <div class="b-ball__right"></div>
                                <div class="b-ball__i"></div>
                            </div>
                            <div class="b-ball b-ball_n8 b-ball_bounce">
                                <div class="b-ball__right"></div>
                                <div class="b-ball__i"></div>
                            </div>
                            <div class="b-ball b-ball_n9 b-ball_bounce">
                                <div class="b-ball__right"></div>
                                <div class="b-ball__i"></div>
                            </div>
                            <div class="b-ball b-ball_i1">
                                <div class="b-ball__right"></div>
                                <div class="b-ball__i"></div>
                            </div>
                            <div class="b-ball b-ball_i2">
                                <div class="b-ball__right"></div>
                                <div class="b-ball__i"></div>
                            </div>
                            <div class="b-ball b-ball_i3">
                                <div class="b-ball__right"></div>
                                <div class="b-ball__i"></div>
                            </div>
                            <div class="b-ball b-ball_i4">
                                <div class="b-ball__right"></div>
                                <div class="b-ball__i"></div>
                            </div>
                            <div class="b-ball b-ball_i5">
                                <div class="b-ball__right"></div>
                                <div class="b-ball__i"></div>
                            </div>
                            <div class="b-ball b-ball_i6">
                                <div class="b-ball__right"></div>
                                <div class="b-ball__i"></div>
                            </div>
                        </i>
                    </i>
                </div>
            </div>
            
            
            <div id="wrapper">
                <div class="screen">
                    <div class="list">
                        <div class="item">
                            <div class="img"></div>
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
            
                        <div class="item">
                            <div class="img"></div>
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
            
                        <div class="item">
                            <div class="img"></div>
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
            
                        <div class="item">
                            <div class="img"></div>
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
            
                        <div class="item">
                            <div class="img"></div>
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
            
                        <div class="item">
                            <div class="img"></div>
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
            
                        <div class="item">
                            <div class="img"></div>
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
            
                        <div class="item">
                            <div class="img"></div>
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
            
                        <div class="item">
                            <div class="img"></div>
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                </div>
            </div>
             <app-sidebar></app-sidebar>
             <!-- Page Content -->
             <div id="page-content-wrapper" >
                 <nav class=" navbar-expand-lg navbar-light bg-transparent py-4 px-4" >
                    <!-- Thay đổi khi không muốn sử dụng background giáng sinh nữa -->
                 <!-- <nav class="navbar navbar-expand-lg navbar-light bg-transparent py-4 px-4" > --> 
                 
     
                     <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                         data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                         aria-expanded="false" aria-label="Toggle navigation">
                         <span class="navbar-toggler-icon"></span>
                     </button>
     
                     <div class="collapse navbar-collapse bg-white" id="navbarSupportedContent">
                         <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                             <li class="nav-item dropdown">
                                 <a class="nav-link dropdown-toggle second-text fw-bold" href="#" id="navbarDropdown"
                                     role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                     <i class="fas fa-user me-2"></i>Xin chào:{{ users }} 
                                    </a>
                                 <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                     <li><a class="dropdown-item" href="#">Profile</a></li>
                                     <li><a class="dropdown-item" href="#">Settings</a></li>
                                     <li><a class="dropdown-item" href="#">Logout</a></li>
                                 </ul>
                             </li>
                         </ul>
                     </div>
                 </nav>
     
                 <div class="container-fluid px-4">
                     
     
                     <!-- <div class="row my-3 bg-white" style="margin-left: 0px; margin-right: 0px;"> -->
                       
                          <router-outlet></router-outlet>
                     <!-- </div> -->
     
                 </div>
             </div>
         </div>
         <!-- /#page-content-wrapper -->
       
     
         <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"></script>
         <script>
             var el = document.getElementById("wrapper");
             var toggleButton = document.getElementById("menu-toggle");
     
             toggleButton.onclick = function () {
                 el.classList.toggle("toggled");
             };
         </script>
   

