<div class="row my-3 bg-white" style="margin-left: 0px; margin-right: 0px;">
  <form action="" method="POST" [formGroup]="customer_fromEdit" (ngSubmit)="onEdit()" class="mb-5">
    <div class="form-group">
      <label for="">Tên khách hàng<span style="color: red;">*</span></label>
      <input type="text" formControlName="name" class="form-control" placeholder="Nhập tên">
      <div *ngIf="submitted && f.name.errors">
        <span style="color: #993300; font-size: 14px;" *ngIf="f.name.errors.required">--Tên khách hành không
          được để trống--</span>
      </div>
    </div>
    <div class="form-group">
      <label for="">Ngày sinh<span style="color: red;">*</span></label>
      <input type="date" formControlName="date_of_birth" class="form-control">
      <div *ngIf="submitted && f.date_of_birth.errors">
        <span style="color: #993300; font-size: 14px;" *ngIf="f.date_of_birth.errors.required">--Ngày sinh không được để trống--</span>
      </div>
    </div>
    <div class="">
      <label for="">Giới tính<span style="color: red;">*</span></label>
      <br>
      <!-- <input type="text" formControlName="sex" class="form-control" placeholder="Kho"> -->
      <input type="radio" id="" formControlName="sex" value="Nam">
      <label for="">Nam&emsp;</label>
      <input type="radio" id="" formControlName="sex" value="Nữ">
      <label for="">Nữ</label>
      <div *ngIf="submitted && f.sex.errors">
        <span style="color: #993300; font-size: 14px;" *ngIf="f.sex.errors.required">--Giới tính không được để trống--</span>
      </div>
    </div>
    <div class="form-group">
      <label for="">Email</label>
      <input type="text" formControlName="email" class="form-control" placeholder="vd: abc@gmail.com">
      <div *ngIf="f.email.errors">
        <span style="color: #993300; font-size: 14px;" *ngIf="f.email.errors">--Email không đúng định dạng--</span>
      </div>
    </div>
    <div class="form-group">
      <label for="">Địa chỉ</label>
      <input type="text" formControlName="adress" class="form-control" placeholder="nhập địa chỉ">
    </div>
    <div class="form-group">
      <label for="">Số điện thoại</label>
      <input type="number" formControlName="number_phone" class="form-control" placeholder="Nhập số điện thoại">
      <div *ngIf="f.number_phone.errors">
        <span style="color: #993300; font-size: 14px;" *ngIf="f.number_phone.errors">--Số điện thoại chỉ giới
          hạn 9-10 số--</span>
      </div>
    </div>
    <br>
    <div style="text-align: center;">

      <button type="button" [routerLink]="['/admin/customer']" class="btn btn-secondary">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left"
          viewBox="0 0 16 16">
          <path fill-rule="evenodd"
            d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z" />
        </svg>
        quay lại</button>
      <button type="submit" class="btn btn-primary" style="margin-left: 5px;">Save</button>

    </div>
  </form>
</div>