<div class="row my-3 bg-white" style="margin-left: 0px; margin-right: 0px;">
  <h3 class="fs-4 mb-3">Quản lý nhân viên</h3>
  <div class="col ">

    <div class="row">
      <div class="col-5">
        <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off"
          placeholder=" Tìm kiếm nhân viên">
          </div>
        <div class="col-7">
          <button type="button" class="btn btn-success mt-2 " style="float: right;" data-bs-toggle="modal"
            data-bs-target="#add">
            Thêm mới
          </button>
        </div>
      </div>

    <table class="table table-striped rounded shadow-sm  bg-white ">
      <!-- <table class="table   table-hover"> -->
      <thead>
        <tr>
          <td scope="col" width="50">#</td>
          <td>Tên nhân viên</td>
          <td>Ngày sinh</td>
          <td>giới tính</td>
          <td>Số điện thoại</td>
          <td>email</td>
          <td>Địa chỉ </td>
          <td>Chức vụ</td>
          <td>Phòng ban</td>
          <td>Chức năng</td>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let staff of staff|filter:searchText| paginate:{ itemsPerPage : tableSize, currentPage: page, totalItems: count};let i = index">
          <td>{{i+1}}</td>
          <td>{{staff.name}}</td>
          <td>{{staff.date_of_birth|date:'dd/MM/yyyy' }}</td>
          <td>{{staff.sex}}</td>
          <td>{{staff.number_phone}}</td>
          <td>{{staff.email}}</td>
          <td>{{staff.adress}}</td>
          <td>{{staff.possion}}</td>
          <td>{{staff.department}}</td>
          <td>

            <a class="btn btn-secondary" style="margin-right: 10px ;"
              [routerLink]="['/admin/Staff-edit/',staff.id]">Sửa</a>
            <button type="button" class="btn btn-danger" (click)="onDelete(staff.id)">Xóa</button>

          </td>
        </tr>
      </tbody>
    </table>
    <div>
      <pagination-controls previousLabel="" nextLabel="" (pageChange)="ontableDataChange($event)">
      </pagination-controls>
    </div>

    <!-- Modal thêm mới -->
    <div class="modal fade" id="add" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <form action="" method="staff" [formGroup]="staff_fromCreate" (ngSubmit)="onCreate()">
            <div class="modal-header bg-success text-white">
              <h5 class="modal-title" id="exampleModalLabel">Thêm mới thông tin cá nhân</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col">
                  <div class="form-group">
                    <label for="">Tên nhân viên<span style="color: red;">*</span></label>
                    <input type="text" formControlName="name" class="form-control" placeholder="Tên nhân viên">
                  </div>
                  <div *ngIf="submitted && f.name.errors">
                    <span style="color: #993300; font-size: 14px;" *ngIf="f.name.errors.required">--Tên khách hành không
                      được để trống--</span>
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <label for="">Ngày sinh</label>
                    <input type="date" formControlName="date_of_birth" class="form-control">
                    <div *ngIf="submitted && f.date_of_birth.errors">
                      <span style="color: #993300; font-size: 14px;" *ngIf="f.date_of_birth.errors.required">--Ngày sinh
                        không được để trống--</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <br>
                  <div class="form-inline">
                    <label for="">Giới tính<span style="color: red;">*</span></label>

                    <br>
                    <input type="radio" id="" formControlName="sex" value="Nam">
                    <label for="">Nam&emsp;</label>
                    <input type="radio" id="" formControlName="sex" value="Nữ">
                    <label for="">Nữ</label>
                    <div *ngIf="submitted && f.sex.errors">
                      <span style="color: #993300; font-size: 14px;" *ngIf="f.sex.errors.required">--Giới tính không được để trống--</span>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <label for="">Số điện thoại*</label>
                    <input type="number" formControlName="number_phone" class="form-control"
                      placeholder="Số điện thoại">
                      <div *ngIf="f.number_phone.errors">
                        <span style="color: #993300; font-size: 14px;" *ngIf="f.number_phone.errors">--Số điện thoại chỉ giới hạn 9-10 số--</span>
                      </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <div class="form-group">
                    <label for="">email</label>
                    <input type="text" formControlName="email" class="form-control" placeholder="email">
                    <div *ngIf="submitted && f.email.errors">
                      <span style="color: #993300; font-size: 14px;" *ngIf="f.email.errors">--Định dạng phải là abc@gmail.com--</span>
                    </div>                  
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <label for="">Địa chỉ</label>
                    <input type="text" formControlName="adress" class="form-control" placeholder="Địa chỉ">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <div class="form-group">
                    <label for="">Chức vụ</label>
                    <input type="text" formControlName="possion" class="form-control" placeholder="Chức vụ">
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <label for="">Phòng ban</label>
                    <input type="text" formControlName="department" class="form-control" placeholder="Phòng ban">
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
              <button type="submit" class="btn btn-success" data-bs-dismiss="modal">Lưu</button>
            </div>
          </form>
        </div>
      </div>
    </div>


  </div>
</div>