<div class="row my-3 bg-white" style="margin-left: 0px; margin-right: 0px;">
<h3 class="fs-4 mb-3">Quản lý Kho</h3>
<div class="col ">

  <!-- <button type="button" class="btn btn-primary mb-3 " style="float: right;" data-bs-toggle="modal" data-bs-target="#add">
    Thêm mới
</button> -->

<table class="table table-striped rounded shadow-sm  bg-white ">
  <!-- <table class="table   table-hover"> -->
    <thead>
      <tr>
        <td scope="col" width="50" >#</td>
        <!-- <td>sản phẩm của nhà cung cấp</td> -->
        <td>Tên sản phẩm</td>
        <td>Số lượng</td>
        <td >Chức năng</td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let ware of warehouse| paginate:{ itemsPerPage : tableSize, currentPage: page, totalItems: count};let i = index">
      <td>{{i+1}}</td>
      <!-- <td>{{ware.product_supplier_id}}</td> -->
      <td>{{ware.name}}</td>
      <td>{{ware.amount}}</td>
      <td>
        
        <a class="btn btn-secondary" style="margin-right: 10px ;" [routerLink]="['/admin/warehouse-edit/',ware.id]">Cập nhập</a>
        <!-- <button type="button" class="btn btn-danger"(click)="onDelete(ware.id)">Xóa</button> -->
        
      </td>
    </tr>
  </tbody>
</table>
<div>
  <pagination-controls previousLabel="" nextLabel="" (pageChange)="ontableDataChange($event)">
  </pagination-controls>
</div>

<!-- Modal thêm mới -->
<!-- <div class="modal fade" id="add" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <form action="" method="POST" [formGroup]="warehouse_fromCreate" (ngSubmit)="onCreate()">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Thêm mới</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          
          <div class="form-group">
            <label for="">Sản phẩm của nhà cung cấp</label>
            <input type="text" formControlName="product_supplier_id" class="form-control" placeholder="Sản phẩm của nhà cung cấp">
          </div>
          <div class="form-group">
            <label for="">Tên sản phẩm</label>
            <input type="text" formControlName="product_id" class="form-control" placeholder="Tên sản phẩm">
          </div>
          <div class="form-group">
            <label for="">Số lượng</label>

            <input type="text" formControlName="amount" class="form-control" placeholder="Số lượng">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
          <button type="submit" class="btn btn-success" data-bs-dismiss="modal">Lưu</button>
        </div>
      </form>
    </div>
  </div>
</div> -->


</div> 
</div>
