<div class="bg-white" id="sidebar-wrapper" style=" overflow:scroll;height:100px;">
      <div class="sidebar-heading text-center py-4 primary-text fs-4 fw-bold text-uppercase border-bottom"><i
                  class="fas fa-user-secret me-2"></i>Website</div>
      <div class="list-group list-group-flush my-3">
            <a href="#" [routerLink]="['/admin']"
                  class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i
                        class="fas fa-tachometer-alt me-2"></i>bảng điều khiển</a>



            <a href="#" [routerLink]="['/admin/category-product']"
                  class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i
                        class="fas fa-chart-line me-2"></i>Danh mục sản phẩm</a>

            <a href="#" [routerLink]="['/admin/product']"
                  class="list-group-item list-group-item-action bg-transparent second-text fw-bold">
                  <i class="fab fa-product-hunt me-2"></i>Quản lý sản phẩm</a>
            <a href="#" [routerLink]="['/admin/customer']"
                  class="list-group-item list-group-item-action bg-transparent second-text fw-bold">
                  <i class="fas fa-users me-2"></i>Quản lý khách hàng</a>

            <a href="#" [routerLink]="['/admin/staff']"
                  class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i
                        class="fas fa-paperclip me-2"></i>Quản lý nhân viên</a>



            <a href="#" [routerLink]="['/admin/info-supplier']"
                  class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i
                        class="fas fa-shopping-cart me-2"></i>Quản lý nhà cung cấp</a>

            <!-- <a href="#" [routerLink]="['/admin/product-supplier']"
                  class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i
                        class="fas fa-gift me-2"></i>Quản lý nhà cung cấp</a> -->



            <a href="#" [routerLink]="['/admin/type-posts']"
                  class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i
                        class="fas fa-map-marker-alt me-2"></i>Quản loại bài viết</a>

            <a href="#" [routerLink]="['/admin/posts']"
                  class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i
                        class="fas fa-map-marker-alt me-2"></i>Quản bài viết</a>

            <a href="#" [routerLink]="['/admin/type-video']"
                  class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i
                        class="fas fa-map-marker-alt me-2"></i>Thể loại video</a>

            <a href="#" [routerLink]="['/admin/video']"
                  class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i
                        class="fas fa-map-marker-alt me-2"></i>Quản lý video</a>


            <a href="#" [routerLink]="['/admin/warehouse']"
                  class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i
                        class="fas fa-map-marker-alt me-2"></i>Quản lý kho</a>
            <a href="#" [routerLink]="['/admin/transport']"
                  class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i
                        class="fas fa-map-marker-alt me-2"></i>Quản lý vận chuyển</a>
            <a href="#" [routerLink]="['/admin/order']"
                  class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i
                        class="fas fa-map-marker-alt me-2"></i>Quản lý đơn hàng</a>

            <a href="#" [routerLink]="['/admin/order-history']"
                  class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i
                        class="fas fa-map-marker-alt me-2"></i>Lịch sử đơn đặt hàng</a>

            <a href="#" [routerLink]="['/admin/testapi']"
                  class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i
                        class="fas fa-project-diagram me-2"></i>Test api</a>
            <a href="#" class="list-group-item list-group-item-action bg-transparent text-danger fw-bold"><i
                        class="fas fa-power-off me-2"></i>Logout</a>
      </div>
</div>