<div class="row my-3 bg-white" style="margin-left: 0px; margin-right: 0px;">
  <form action="" method="POST" [formGroup]="product_fromEdit" (ngSubmit)="onEdit()" class="mb-5">
    <div class="form-group">
      <label for="">Loại sản phẩm</label>
      <input type="text" formControlName="category_id" class="form-control" placeholder="Loại sản phẩm">
    </div>
    <div class="form-group">
      <label for="">Tên sản phẩm</label>
      <input type="text" formControlName="name" class="form-control" placeholder="Tên sản phẩm">
    </div>
    <div class="form-group">
      <label for="">Giá ban đầu</label>

      <input type="number" formControlName="default_price" class="form-control" placeholder="Giá ban đầu">
    </div>
    <div class="form-group">
      <label for="">Giá hiện tại</label>
      <input type="number" formControlName="price" class="form-control" placeholder="Giá hiện tại">
    </div>
    <div class="form-group">
      <label for="">Ảnh demo</label>
      <img [src]="url" height="200" width="200" alt="">
      <!-- <input type="text"  formControlName="image" (change)="updateImage($event)" > -->
      <!-- <input type="text" formControlName="image" class="form-control" placeholder="Nội dung"> -->
      <!-- <input type="file" [formControl]="product_fromEdit.controls['image']" (change)="updateImage($event)" > -->
      <input type="file"  (change)="updateImage($event)" >
      <!-- <img src="http://127.0.0.1:8000/storage/"  alt=""> -->
      <!-- <img src="https://assets.goal.com/v3/assets/bltcc7a7ffd2fbf71f5/blt1ce35ff19afc982a/60ef294574f163428d4aaf5a/752d38621b7815f91630c31c14716f04edbee7c5.jpg?auto=webp&fit=crop&format=jpg&height=800&quality=60&width=1200" alt=""> -->
    </div>
    <div class="form-group">
      <label for="">mô tả sản phẩm</label>
      <ckeditor formControlName="description"></ckeditor>

      <!-- <input type="text" formControlName="description" class="form-control" placeholder="mô tả sản phẩm"> -->
      <!-- <textarea name="editor1" type="text" formControlName="description" class="form-control" placeholder="mô tả sản phẩm"></textarea> -->
      <!-- <textarea name="editor1"></textarea>
    <script>
      CKEDITOR.replace( 'editor1' );
    </script> -->
      <!-- <div id="editor"></div> -->
      <!-- <textarea name="editor1"></textarea>
    <script>
      CKEDITOR.replace( 'editor1' );
    </script> -->
      <!-- <script>
      CKEDITOR.replace( 'editor1',{              
    fullPage: true,
    allowedContent: true,
    autoGrow_onStartup: true,
    enterMode: CKEDITOR.ENTER_BR
});
    </script> -->
    </div>
    <br>
    <div style="text-align: center;">

      <button type="button" [routerLink]="['/admin/product']" class="btn btn-secondary">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left"
          viewBox="0 0 16 16">
          <path fill-rule="evenodd"
            d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z" />
        </svg>
        quay lại</button>
      <button type="submit" class="btn btn-primary" style="margin-left: 5px;">Lưu</button>

    </div>


  </form>
</div>