
<div class="login-container" >
  <form  method="POST" [formGroup]="form"  (ngSubmit)="register()" autocomplete="on" class="login-form" name="loginForm" id="form-1">
 
   <h3 class="heading">Đăng ký tài khoản</h3>
   <p class="desc mb-16 pt-16"></p>
 
   <div class="form-group">
       <label for="name" class="form-label">Tên người dùng</label>
       <input  id="name" type="name" formControlName="name" placeholder="nhập tên người dùng" class="form-control">
   </div>
   <div class="form-group">
       <label for="email" class="form-label">Email</label>
       <input  id="email" type="email" formControlName="email" placeholder="VD: email@gmail.com" class="form-control">
   </div>
 
   <div class="form-group">
       <label for="password" class="form-label">Mật khẩu</label>
       <input id="password" type="password"  formControlName="password" placeholder="Nhập mật khẩu" class="form-control" >
   </div>
   <button type="submit" class="form-submit" >
       Đăng ký
   </button>
 </form>
 </div>
 